@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

code,
pre {
  font-family: var(--font-mono), ui-monospace, monospace;
}

::selection {
  background: #f97316;
  color: white;
}
